/* src/App.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  padding: 20px;
  color: white;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.App-footer {
  background-color: #343a40;
  padding: 10px;
  color: white;
  width: 100%;
  position: sticky;
  bottom: 0;
  z-index: 1000;
  margin-top: auto;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

main {
  flex: 1;
  padding: 20px;
}

h1 {
  margin: 20px 0;
  color: #007bff;
}

h2 {
  color: #007bff;
  margin-bottom: 20px;
}

.container {
  margin-top: 60px; /* To ensure the main content is not hidden under the navbar */
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-center img {
  border: 2px solid #007bff;
  margin-bottom: 20px;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  transition: color 0.3s ease;
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffdd57;
}
